<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.cloneamazonapplication">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AmazonApplication">
        <activity
            android:name="com.example.cloneamazonapplication.View.ShowHistoryActivity"
            android:exported="false" />
        <activity
            android:name="com.example.cloneamazonapplication.View.PlaceOrderActivity"
            android:exported="false" />
        <activity
            android:name="com.example.cloneamazonapplication.View.MyCartBagActivity"
            android:exported="false" />
        <activity
            android:name="com.example.cloneamazonapplication.View.AddActivity"
            android:exported="false" />
        <activity
            android:name="com.example.cloneamazonapplication.View.ProfileActivity"
            android:exported="false" />
        <activity
            android:name="com.example.cloneamazonapplication.View.IntroActivity"
            android:exported="false" />
        <activity
            android:name="com.example.cloneamazonapplication.accountcreation.RegistrationActivity"
            android:exported="false" />
        <activity
            android:name="com.example.cloneamazonapplication.accountcreation.LoginActivity"
            android:exported="false" />
        <activity
            android:name="com.example.cloneamazonapplication.View.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.cloneamazonapplication.View.SearchActivity"
            android:exported="false" />
        <activity
            android:name="com.example.cloneamazonapplication.View.ProductDetailsActivity"
            android:exported="false" />
        <activity
            android:name="com.example.cloneamazonapplication.View.HomeActivity"
            android:exported="false" />
    </application>

</manifest>